* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-top: var(--spacing-medium);
  background-color: var(--bg-dark);
}
header {
  justify-content: space-between;
  padding: 0 20px 20px 20px;
  border-bottom: var(--standard-border);
}
ul {
  list-style-type: none;
}
table {
  border: var(--standard-border);
  border-collapse: collapse;
  margin-bottom: var(--spacing-high);
}
thead td {
  background-color: #162033;
  color: var(--color-white);
  text-transform: uppercase;
}
td {
  border-top: var(--standard-border);
  border-bottom: var(--standard-border);
  padding: var(--spacing-small) 60px;
}
button:hover {
  text-decoration: underline;
}
#logo {
  color: var(--color-blue);
  text-align: center;
  vertical-align: middle;
}
.logoBG {
  background-color: #102d4a;
  width: fit-content;
  padding: 6px;
  border-radius: 50%;
  margin-right: var(--spacing-small);
}
.headerRightPC {
  display: none;
}
.menuPC {
  gap: var(--spacing-medium);
}
.menuPC .link {
  text-decoration: none;
  color: #8b9aae;
  text-underline-offset: 8px;
}
.menuPC .link:hover {
  text-decoration: underline;
}
.menuPC .link.active {
  text-decoration: underline;
  color: var(--color-blue);
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  background-color: var(--bg-dark);
  transition: all 0.2s ease-in-out;
}
.menu li {
  margin-top: var(--spacing-high);
}
.menu li a {
  padding: var(--spacing-small);
  display: inline-block;
  text-decoration: none;
  color: var(--color-blue);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
}
.menu .close-menu,
.menu .open-menu,
.fa-bars,
.fa-navicon {
  margin: var(--spacing-high);
  font-size: 24px;
}
.menu .close-menu:hover,
.menu .open-menu:hover,
.fa-bars:hover,
.fa-navicon:hover {
  cursor: pointer;
}
.close-menu {
  transform: translateY(var(--spacing-high));
}
#check:checked ~ .menu {
  right: 0;
}
#check {
  display: none;
}
.tabellaOrdini {
  margin-top: var(--spacing-high);
  background-color: var(--bg-dark);
  padding: var(--spacing-small);
  border: var(--standard-border);
  border-radius: 11px;
}
.tabellaOrdini .headerTabella {
  margin-bottom: var(--spacing-high);
  align-items: center;
}
.ordiniBtn {
  padding: 6px 12px;
  vertical-align: middle;
  border: none;
  background-color: #1e293b;
  border-radius: 8px;
}
.iconaFiltro {
  vertical-align: middle;
}
#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 0.6);
}
.finestraFiltri {
  background-color: var(--bg-dark);
  margin: 0 auto;
  width: 80%;
  max-width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--spacing-medium);
  border-radius: 16px;
}
.inputStato {
  appearance: none;
}
.finestraFiltri .header {
  margin-bottom: var(--spacing-medium);
}
.titleOrdine {
  text-transform: uppercase;
  margin-bottom: var(--spacing-small);
}
.listaStati {
  gap: var(--spacing-medium);
  flex-wrap: wrap;
}
.checkStato {
  border: var(--standard-border);
  padding: var(--spacing-small);
  border-radius: 8px;
}
.checkStato.full {
  background-color: var(--color-blue);
}
.idOrdine {
  color: var(--color-blue);
  font-weight: 700;
}
.dataOrdine {
  color: #8b9aae;
}
.stato {
  border-radius: 11px;
  padding: 5px;
}
.stato.spedito {
  background-color: var(--bg-shipment);
  color: var(--color-shipment);
}
.stato.attesa {
  background-color: var(--bg-wait);
  color: var(--color-wait);
}
.stato.consegnato {
  background-color: var(--bg-delivered);
  color: var(--color-delivered);
}
.stato.annullato {
  background-color: var(--bg-cancelled);
  color: var(--color-cancelled);
}
.footer-table {
  align-items: center;
  margin-bottom: var(--spacing-high);
}
#pageInfo {
  color: #c0c7d1;
}
.btnPrev,
.btnNext {
  border: none;
  padding: 6px;
  border-radius: 6px;
  margin: 8px;
  background-color: var(--bg-dark);
  border: 1px solid #8b9aae;
}
.btnPrev.active,
.btnNext.active {
  color: #fff;
}
.btnPrev.noActive,
.btnNext.noActive {
  color: #c0c7d1;
}
@media screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  td,
  tr {
    display: block;
  }
  tr {
    border: 1px solid #ccc;
    margin-bottom: var(--spacing-small);
  }
  td:before {
    position: absolute;
    left: 6px;
    content: attr(data-th);
    font-weight: 700;
  }
}
@media screen and (min-width: 600px) {
  .table {
    width: 100%;
    overflow-x: auto;
  }
  table {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  header {
    justify-content: space-around;
  }
  .headerRightPC {
    display: block;
  }
  .headerRightMobile {
    display: none;
  }
  .ordiniBtn {
    font-size: 16px;
  }
}
